/* font google: fonts Shadow Into Light and Whisper */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap');

/* Body style and color */

body {
    font-family: 'patrick Hand', sans-serif, 'Shadow Into Light';
    background-color: #EBEEFF;
    color: blueviolet;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title and image in title */

h1 {
    font-family: 'Shadows Into Light', sans-serif, 'Patrick Hand';
    color: blue; 
}

img {
    width: 5%;
}

/* Question and answer container */

#container {
    max-width: 800px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;    
}

#qcontainer {
      max-width: 50%;
      max-height: fit-content;
      background-color: rgb(127, 246, 255);
      padding: 50px;
      box-shadow: 0 0 15px 5px;
      margin-left: auto;
      margin-right: auto;
}

/* Button style */
#btn-begin {
    width: 50%;
    font-size: large;
    font-weight: bolder;
    color: blue;
    background-color: lavender;
    outline: black 1px solid;
}

#answers button{
    
    width: 45%;
    flex-direction: columns;
    background-color: lavenderblush;
    color: blue;
    font-size: large;
    margin-bottom: 5px;
}

#answers button:hover {
    border: 2px darkblue solid;
    background-color: rgb(156, 89, 219);
    color: lavender;
}



/* The question styling */

#riddle-question {
    font-size: xx-large;
    border: 1px solid blue;
    margin-top: auto;
    width: 100%;
}

.hide {
    display: none;
}

/* Show correct and wrong answers to the user*/
#score-bar {
    width : 100%;
    text-align: center;
}

.scoreCard {
    width : 2rem;
    height : 2rem;
    border: 2px solid blueviolet;
    display: inline-block;
    margin-left: 0.2rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

/* Media Query for 450px*/
@media screen and (max-width:450px) {
body {
    width: 100%;
}

#answers button{
    width: 100%;
}
}